<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <title><%= Client.Name %> | Profile Overview</title>
        <meta property="og:title" content="Server Overview | Node Server Manager">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Node Server Manager is a administration tool for Plutonium IW5">
        <meta name="description" content="<%= Client.Name %> | Profile Overview">
        <meta name="keywords" content="IW4MAdmin, IW5, Plutonium, T6, NodeJs, server, administration, IW4x, MW2, Modern Warfare 3">
        <script type='text/javascript' src='/js/main.js'></script>
        <script type='text/javascript' src='/js/profile.js'></script>
        <link rel="stylesheet" type="text/css" href="/css/xbbcode.css">
        <link rel="stylesheet" type="text/css" href="/css/xbbcode.css">
        <script src="/js/xbbcode.js" type="text/javascript"></script>
        <script src="/js/xbbcode.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <script src="/js/moment-with-locales.js" type="text/javascript"></script>
        <script src="/js/moment-timezone-with-data-10-year-range.js" type="text/javascript"></script>
        <script type='text/javascript' src='/js/font-awesome.js'></script>
        <script>
            var Profile = {
                Name: '<%= Client.Name%>',
                ClientId: '<%= Client.ClientId%>'
            }
        </script>
        <link rel='stylesheet' type='text/css' href='/css/global.css'></link>
    </head>
    <body>
        <%- header%>
        <div class='wf-profile wf-default'>

        <% if (Client) {%>
            <div class='wf-profile-header'>
                <div class='wf-profile-header-name'>
                    <div class='profile-header-left'>
                        <% if (Client.Flag) {%><div class='wf-profile-header-online'></div><div class='flag-icon wf-profile-flag flag-icon-<%=Client.Flag%>'></div><%}%>
                        <%= Client.Name %>
                        <i class='fas fa-circle fa-xs wf-profile-status iw-<%= Client.Status.Color %>'></i>
                        <div class='wf-profile-header-online'><%= Client.Status.String %></div>
                    </div>
                    <div class='profile-header-right'>
                        <% if ( self && self.PermissionLevel > Client.PermissionLevel && self.PermissionLevel >= Permissions.Levels[Permissions.Commands.COMMAND_KICK] && Client.InGame.Online ) {%>
                            <div title='Kick' onclick='kickClient()' class='wf-profile-header-button'><i class="fas fa-times"></i></div>
                        <% } %>
                        <% if ( !Client.Ban.Banned && self && self.PermissionLevel > Client.PermissionLevel && self.PermissionLevel >= Permissions.Levels[Permissions.Commands.COMMAND_BAN] ) {%>
                            <div title='Ban' onclick='banClient(this)' class='wf-profile-header-button'><i class="fas fa-lock-open"></i></div>
                        <% } %>
                        <% if ( Client.Ban.Banned && self && self.PermissionLevel > Client.PermissionLevel && self.PermissionLevel >= Permissions.Levels[Permissions.Commands.COMMAND_BAN] ) {%>
                            <div title='Ban' onclick='unBanClient(this)' class='wf-profile-header-button'><i class="fas fa-lock"></i></div>
                        <% } %>
                        <% if ( self && self.ClientId == Client.ClientId ) {%>
                            <div title='Edit Profile' onclick='editProfile()' class='wf-profile-header-button'><i class="fas fa-edit"></i></div>
                        <% } %>
                    </div>
                </div>
                <div class='wf-profile-role'>
                    <% if (!Client.Ban.Banned) {%>
                    <div><%= Client.Role %></div>
                    <% } else {%>
                        <div class='iw-red'>Banned - <%= Client.Ban.Reason %></div>
                    <% }%>
                </div>
                <div class='wf-profile-description-wrap'>
                    <div class='wf-profile-description-line'>
                        <pre class='wf-profile-description-inline' data-textbox data-raw-text='<%= Client.Description ? Client.Description : 'No info' %>' data-profile-info>
                            <%= Client.Description ? Client.Description : 'No info' %>
                        </pre>
                    </div>
                    <div class='wf-profile-description-button' data-profile-submit style='display:none'>
                        Save
                    </div>
                </div>
            </div>
            <div class='wf-profile-info'>
                <div class='wf-profile-info-info'>
                    <div>#<%= Client.ClientId %></div>
                    <div>ID</div>
                </div>
                <% if (Client.InGame.Online) { %>
                <div class='wf-profile-info-info'>
                    <div colorcode><%= Client.InGame.Hostname %></div>
                    <div>Current Sever</div>
                </div>
                <% } %>
                <% if (Client.LastConnection) {%>
                <div class='wf-profile-info-info'>
                    <div date-moment><%= Client.FirstConnection %></div>
                    <div>First Connection</div>
                </div>
                <%}%>
                <% if (Client.LastConnection) {%>
                <div class='wf-profile-info-info'>
                    <div date-moment>><%= Client.LastConnection %></div>
                    <div>Last Seen</div>
                </div>
                <%}%>
                <% Client.clientMeta.forEach(meta => {%>
                    <% if (!meta || !meta.name) return %>
                    <div class='wf-chat-separator-wrap'>
                        <div class='wf-chat-separator'>
                            <span><%= meta.name %></span>
                        </div>
                    </div>
                    <% Object.entries(meta.data).forEach(_meta => {%>
                        <% if (!_meta) return %>
                        <div class='wf-profile-info-info'>
                            <div><%= _meta[1] %></div>
                            <div><%= _meta[0] %></div>
                        </div>
                    <% })%>
                <% })%>
            </div>
            <% if (Client.Messages.length > 0) { %>
                <div class='wf-profile-info nice-scrollbar' id='message-log'>
                    <% Client.Messages.forEach(Message => { %>
                        <div class='wf-message'>
                            <% if (Message.Type == 'Message') {%>
                                <div class='wf-message-sender'>
                                    <a class='wf-link wf-message-sender' href='/id/<%= Client.ClientId %>'><%= Client.Name %></a>:</div>
                                <div class='wf-message-message' colorcode><%= Message.Message %></div>
                                <div class='wf-default wf-message-date' date-moment><%= Message.Date %></div>
                            <% } else {%>
                                <% var penalties = {
                                    'PENALTY_TEMP_BAN' : 'Temp banned',
                                    'PENALTY_PERMA_BAN' : 'Perma banned',
                                    'PENALTY_KICK' : 'Kicked',
                                    'PENALTY_UNBAN' : 'Unbanned'
                                } %>
                                <% if (Message.Target.ClientId == Client.ClientId) {%>
                                    <div class='wf-message-message'><span class='iw-red'><%= penalties[Message.PenaltyType] %></span> by <a class='iw-yellow wf-link' href='/id/<%= Message.Origin.ClientId %>'><%= Message.Origin.Name %></a> for <span class='iw-cyan'><%= Message.Reason.replace(new RegExp(/\^([0-9]|\:|\;)/g, 'g'), '') %></span></div>
                                    <div class='wf-default wf-message-date' date-moment><%= Message.Date %></div>
                                <% } else {%>
                                    <div class='wf-message-message'><span class='iw-red'><%= penalties[Message.PenaltyType] %></span> <a class='iw-yellow wf-link' href='/id/<%= Message.Target.ClientId %>'><%= Message.Target.Name %></a> for <span class='iw-cyan'><%= Message.Reason.replace(new RegExp(/\^([0-9]|\:|\;)/g, 'g'), '') %></div>
                                    <div class='wf-default wf-message-date' date-moment><%= Message.Date %></div>
                                <% } %>
                            <% }%>
                        </div>
                    <% }) %>%>
                </div>
            <% } %>
        <% } else { %>
            <div class='wf-profile-header'>
                <div class='wf-profile-header-name'>Player not found</div>
            </div>
        <% }%>
        </div>
    </body>
</html>