<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <title>Server Overview | Node Server Manager</title>
        <meta property="og:title" content="Server Overview | Node Server Manager">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Node Server Manager is an administration tool for Plutonium IW5">
        <meta name="description" content="Node Server Manager is an administration tool for Plutonium IW5">
        <meta name="keywords" content="IW4MAdmin, IW5, Plutonium, T6, NodeJs, server, administration, IW4x, MW2, Modern Warfare 3">
        <script type='text/javascript' src='/js/main.js'></script>
        <link rel="stylesheet" type="text/css" href="/css/xbbcode.css">
        <script src="/js/xbbcode.js" type="text/javascript"></script>
        <script type='text/javascript' src='/js/stats.js'></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type='text/javascript' src='/js/notifications.js'></script>
        <script type='text/javascript' src='/js/font-awesome.js'></script>
        <link rel='stylesheet' type='text/css' href='css/global.css'></link>
        <script src="/js/moment-with-locales.js" type="text/javascript"></script>
        <script src="/js/moment-timezone-with-data-10-year-range.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
    </head>
    <body class='nice-scrollbar'>
        <%- header %>
        <div class='wf-client-search'>
            <div class='wf-client-search-desc'>Top Players</div>
            <div class='wf-profile wf-default'>
            <div class='wf-client-search-list' id='stat-list'>
                <% Stats.forEach(Stat => { %>
                    <div class='wf-stat wf-stat-rank-<%=Stat.Rank%>'>
                        <div>
                            <div class='wf-stat-name wf-stat-line inline'><span class='api-data-type'>#<%= Stat.Rank %> - </span><a href='/id/<%= Stat.ClientId%>' class='wf-stat-name inline wf-link'><%= Stat.Name %></a></div>
                            <div class='wf-stat-line'><span class='api-data-type'><%= Stat.Kills %></span> <%=Stat.Kills == 1 ? 'Kill' : 'Kills'%></div>
                            <div class='wf-stat-line'><span class='api-data-type'><%= Stat.Deaths %></span> <%=Stat.Deaths == 1 ? 'Death' : 'Deaths'%></div>
                            <div class='wf-stat-line'><span class='api-data-type'><%= (Stat.Kills / Math.max(Stat.Deaths, 1)).toFixed(2) %></span> KDR</div>
                            <div class='wf-stat-line'><span class='api-data-type'><%= Stat.Performance.toFixed(1) %></span> Performance</div>
                            <div class='wf-stat-line'>Played for <span class='api-data-type'><%= Stat.PlayedTimeString %></span></div>
                        </div>
                        <div><div class='wf-stat-chart' id='<%= Stat.ClientId%>_history' data-rank='<%=Stat.Rank%>' data-canvas='<%= JSON.stringify(Stat.History) %>'></div></div>
                    </div>
                <% }) %>
            </div>
        </div>
        </div>
    </body>
</html>